@import '../../scss/sassybeam';

@mixin mq($min-width) {
    @media screen and (min-width:$min-width) {
        @content;
    }
}

@include beam('block') {
    width: auto;

    @include beam('block__element') {
        color: #0f0;

        @include mq('60em') {
            color: #fff;
        }

        @include beam('block__element--alert') {
            color: #f00;

            @include mq('60em') {
                color: #000;
            }

        }
    }
}
