/*! SassyBeam v0.0.1 | MIT License | http://git.io/sassybeam */
.block, [class*="block--"] {
  width: auto;
}
.block__element, [class*="block__element--"] {
  color: #0f0;
}
.block__element h1, [class*="block__element--"] h1 {
  font-size: 4rem;
}
.block__element > p, [class*="block__element--"] > p {
  font-weight: bold;
}
[class*="block__element--"][class*="alert"] {
  color: #f00;
}
